{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<h1>Привет, меня зовут Семён</h1>
  <p class"list-group">
    Немного обо мне:  тут будет текст
  </p>
    <ul class="list-group">
      <li class="list-group-item">
        Это мой <a class"list-group-item" href="https://github.com/Sovraska"> Git Hub  </a> 
      </li>
      <li class="list-group-item">
         Тут меня почти нет -_- <a class"list-group-item" href="https://vk.com/semyonnovikov2">VK</a>
      </li>
      <li class="list-group-item">
        Зато здесь скорее всего отвечу <a class"list-group-item" href="https://t.me/Sovraska_s">Telegramm</a>
      </li>
    </ul>
{% endblock %} 